<!doctype html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="./bootstrap/css/bootstrap.css"/>
        <link rel="stylesheet" type="text/css" href="./bootstrap/css/bootstrap-grid.css"/>
        <link rel="stylesheet" type="text/css" href="./bootstrap/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="./bootstrap/css/bootstrap-reboot.css" />
        <link rel="stylesheet" type="text/css" href="./css/style.css" />
    </head>
    <body>
        <div id="wrapper" class="container-fluid">
            <div class="row">
                <div class="col-sm-3">
                    <nav id="sidebar">
                        <div id="logo"> 
                            <a href="index.html"> 
                                <img  id="image" src="C:\Users\bootc\Desktop\smashgeek.jpg" alt="my logo"/>
                            </a>
                        </div>
                        <div class="intro">
                            <h2 id="sidebar-title"> Inventory Manager</h2>
                        </div>
                        <ul>
                            <li><a href="datacables.html">Cables</a></li>
                            <li><a href="car charger.html" >Car Charger</a></li>
                            <li><a Href="#">Wall Charger</a></li>
                        </ul>
                    </nav>                    
                </div>
                <div class="col-sm-9">
                    <div class="row">
                        <div class="col-sm-12">
                            <section id="search" class="align-item-start">
                                <input class="search" type=""/><a id="search_btn" href="" class="btn btn-primary">Search</a>
                                    <table class="table-login">
                                            <tr>
                                                <td><a href="Login.html">Login</a></td>
                                                
                                            </tr>
                                        </table>
                                <img src="" />
                            </section>
                        </div>
                    </div> 
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                        <table class="table">
                                                                <thead>
                                                                  <tr>
                                                                    <th scope="col">Name</th>
                                                                    <th scope="col">Version</th>
                                                                    <th scope="col">SKU</th>
                                                                    <th scope="col">Color</th>
                                                                    <th scope="col">Brand</th>
                                                                    <th scope="col">Quantity</th>
                                                                    <th scope="col">Image</th>                                                                    
                                                                  </tr>
                                                                </thead>
                                                                <tbody>
                                                                  <tr>
                                                                    <th scope="row"><a href="car charger details.html">USB Car Charger</a></th>
                                                                    <td>3.0 Fast Charge</td>
                                                                    <td>990809</td>
                                                                    <td>Black</td>
                                                                    <td>Belkin</td>
                                                                    <td>100</td>
                                                                    <td><img id="product_one" src="C:\Users\bootc\Desktop\Car Charger.jpg"/></td>                                                           
                                                                  </tr>
                                                                  <tr>
                                                                    <th scope="row">USB Car Charger</th>
                                                                    <td>3.0 Fast Charge</td>
                                                                    <td>990889</td>
                                                                    <td>Gold</td>
                                                                    <td>Belkin</td>
                                                                    <td>100</td>
                                                                    <td><img id="product_one" src="C:\Users\bootc\Desktop\car charger gold.jpg"/></td>                                                            
                                                                  </tr>
                                                                  
                                                                </tbody>
                                                              </table>
                                                              <a href="Form.html" class="btn btn-primary">Add New Product</a>
                                                </div>
                                            </div>
                                           
                                        </div>  
                                    </div>                       
                            </section>
                        </div>
                    </div>
                </div>
            </div>
  


   
        </div>
    <script src="./bootstrap/js/bootstrap.js"></script>   
    <script src="./bootstrap/js/bootstrap.bundle.js"></script>   
    <script src="./bootstrap/js/bootstrap.min.js"></script>  
    </body>
</html>

